{% if page_obj %}
<nav class="flex items-center justify-between border-t border-gray-200 bg-white py-3" aria-label="Pagination">
  <div class="hidden sm:block">
    <p class="text-sm text-gray-700">
      {% comment %} Showing
      <span class="font-medium">1</span> {% endcomment %}
      Page
      <span class="font-medium">{{ page_obj.number }}</span>
      of
      <span class="font-medium">{{ page_obj.paginator.num_pages }}</span>
    </p>
  </div>
  <div class="flex flex-1 justify-between px-4 sm:justify-end sm:px-0">
      {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}" class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-gray-300 ring-inset hover:bg-gray-50 focus-visible:outline-offset-0">Previous</a>
      {% else %}
          <a href="#" class="disabled relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-gray-300 ring-inset hover:bg-gray-50 focus-visible:outline-offset-0">Previous</a>
      {% endif %}

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-gray-300 ring-inset hover:bg-gray-50 focus-visible:outline-offset-0">Next</a>
      {% else %}
          <a href="#" class="disabled relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-gray-300 ring-inset hover:bg-gray-50 focus-visible:outline-offset-0">Next</a>
      {% endif %}
  </div>
</nav>

{% comment %} <div class="d-flex align-items-center mb-4 justify-content-between">
  <nav aria-label="Page navigation example">
    <ul class="pagination m-0">
      {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% else %}
          <li class="page-item"><a class="page-link disabled" href="#">&laquo;</a></li>
          <li class="page-item"><a class="page-link disabled" href="#">Previous</a></li>
      {% endif %}
      <!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li> -->
      {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
      {% else %}
          <li class="page-item"><a class="page-link disabled" href="#">Next</a></li>
          <li class="page-item"><a class="page-link disabled" href="#">&raquo;</a></li>
      {% endif %}
    </ul>
  </nav>
  <div>
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
  </div>
</div> {% endcomment %}
{% endif %}
