<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold text-gray-900">{{ view.title }}</h1>
      <p class="mt-2 text-sm text-gray-700">
        {{ view.description }}
      </p>
    </div>
    <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
      <button
        type="button"
        class="block rounded-md bg-primary-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-xs hover:bg-primary-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600"
      >
        Add {{ view.model_name }}
      </button>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        {% if object_list %}
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            {% block head_content %}
            {% endblock head_content %}
            {% comment %} <tr>
              {% for field_name in view.field_names %}
                {% if forloop.counter == 1 %}
                  <th
                    scope="col"
                    class="py-3.5 pr-3 pl-4 text-left text-sm font-semibold text-gray-900 sm:pl-0"
                  >
                    {{ field_name }}
                  </th>
                {% else %}
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                  >
                    {{ field_name }}
                  </th>
                {% endif %}
              {% endfor %}
            </tr> {% endcomment %}
          </thead>
          <tbody class="divide-y divide-gray-200">
            {% block row_content %}
            {% endblock row_content %}
            {% comment %} <tr>
              <td
                class="py-4 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-gray-900 sm:pl-0"
              >
                Lindsay Walton
              </td>
              <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                Front-end Developer
              </td>
              <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                lindsay.walton@example.com
              </td>
              <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                Member
              </td>
              <td
                class="relative py-4 pr-4 pl-3 text-right text-sm font-medium whitespace-nowrap sm:pr-0"
              >
                <a href="#" class="text-primary-600 hover:text-primary-900"
                  >Edit<span class="sr-only">, Lindsay Walton</span></a
                >
              </td>
            </tr> {% endcomment %}

            <!-- More people... -->
          </tbody>
        </table>
        {% else %}
          Click on "Add {{ view.model_name }}" to get started.
        {% endif %}
      </div>
    </div>
  </div>
</div>