<!-- templates/registration/password_reset_done.html -->
{% extends "registration/base.html" %}

{% block base_content %}
{% comment %} <div class="col-lg-8 mx-auto p-4 py-md-5 container-xs">
  <main>
    <h1 class="m-auto mb-2">Password Reset Sent</h1>
    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>

    <a href="{% url 'home' %}" class="btn btn-primary btn-lg px-4">Go Home</a>
  </main>
</div> {% endcomment %}
<main class="grid min-h-full max-w-2xl m-auto place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
  <div class="text-center">
    <p class="text-base font-semibold text-primary-600">Working on it!</p>
    <h1 class="mt-4 text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl">Reset Link Requested!</h1>
    <p class="mt-6 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
        {% comment %} <p class="mt-6 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p> {% endcomment %}
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a href="{% url 'home' %}" class="rounded-md bg-primary-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-primary-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600">Go back home</a>
      {% comment %} <a href="{% url 'home' %}" class="text-sm font-semibold text-gray-900">Contact support <span aria-hidden="true">&rarr;</span></a> {% endcomment %}
    </div>
  </div>
</main>
{% endblock %}